---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

# Bootstraps core applications that provide a minimal runtime base for the
# cluster. These releases are installed first so the cluster has the resources
# Flux needs before its own reconciliation begins.
#
# After this bootstrap phase, Flux is ready to take over management of the
# application stack and continue reconciling downstream state.

bases:
  - ../base/environments.yaml
  - ../base/helmDefaults.yaml
  - ../base/kubeContext.yaml.gotmpl
  - ../base/release-templates.yaml

defaultInherit:
  # get chart url and version from OCI release
  - chart-version-from-ocirelease
  # get chart values from HelmRelease
  - values-from-helmrelease

releases:
  - name: cilium
    namespace: kube-system
    hooks:
      # Wait for CRDs to be available
      - command: kubectl
        args:
          - wait
          - --for=create
          - crd/ciliumbgpadvertisements.cilium.io
          - crd/ciliumbgpclusterconfigs.cilium.io
          - crd/ciliumbgppeerconfigs.cilium.io
          - crd/ciliumloadbalancerippools.cilium.io
          - --timeout=2m
          - --context
          - "{{ printf "admin@%s-homelab" .Environment.Name }}" # non-DRY duplicate kubeContext :-/
        events:
          - postsync
        showlogs: true
    inherit:
      # do not inherit values from HelmRelease...
      - template: values-from-helmrelease
        except:
          - values
      # get them from values.yaml file instead
      - template: values-from-values-yaml-file

  - name: sealed-secrets
    namespace: sealed-secrets
    needs:
      - kube-system/cilium

  - name: external-secrets
    namespace: external-secrets
    needs:
      - kube-system/cilium

  - name: onepassword-connect
    namespace: external-secrets
    hooks:
      - # Wait for CRDs to be available
        command: kubectl
        args:
          - wait
          - --for=create
          - crd/clustersecretstores.external-secrets.io
          - --timeout=2m
          - --context
          - "{{ printf "admin@%s-homelab" .Environment.Name }}" # non-DRY duplicate kubeContext :-/
        events:
          - postsync
        showlogs: true
      - # Apply Resources
        command: kubectl
        args:
          - apply
          - --server-side
          - --force-conflicts
          - --filename=../../../infra/{{`{{ .Release.Namespace }}`}}/{{`{{ .Release.Name }}`}}/base/clustersecretstore.yaml
          - --context
          - "{{ printf "admin@%s-homelab" .Environment.Name }}" # non-DRY duplicate kubeContext :-/
        events:
          - postsync
        showlogs: true
    needs:
      - external-secrets/external-secrets

  - name: cert-manager
    namespace: cert-manager
    needs:
      - sealed-secrets/sealed-secrets

  - name: flux-operator
    namespace: flux-system
    needs:
      - cert-manager/cert-manager

  - name: flux-instance
    namespace: flux-system
    needs:
      - flux-system/flux-operator
  