---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: unifi
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: unifi
      labels:
        app: mongodb
    spec:
      nodeSelector:
        topology.kubernetes.io/zone: pve4
      securityContext:
        runAsNonRoot: false
        # runAsNonRoot: true
        # runAsUser: 999
        # runAsGroup: 999
        # fsGroup: 999
        # fsGroupChangePolicy: OnRootMismatch
        # seccompProfile:
        #   type: RuntimeDefault
      containers:
        - name: mongodb
          image: docker.io/mongo:8.0.19@sha256:dc9a16839d964e24c6f6dd302d556f217f8deeffce0ee31866d3be793defcb77
          # securityContext:
          #   allowPrivilegeEscalation: false
          #   readOnlyRootFilesystem: false
          #   capabilities:
          #     drop: [ "ALL" ]
          ports:
            - name: mongodb
              containerPort: 27017
          env:
            - name: PUID
              value: '999'
            - name: PGID
              value: '999'
            - name: TZ
              value: Europe/Berlin
            - name: MONGO_AUTHSOURCE
              value: admin
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secret-sealed
                  key: root_user
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret-sealed
                  key: root_pass
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret-sealed
                  key: mongo_user
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: db-secret-sealed
                  key: mongo_pass
            - name: MONGO_DBNAME
              value: unifidb
          resources:
            requests:
              cpu: 50m
              memory: 350Mi
            limits:
              cpu: 500m
              memory: 500Mi
          volumeMounts:
            - name: mongodb-init
              mountPath: /docker-entrypoint-initdb.d/init-mongo.sh
              subPath: init-mongo.sh
              readOnly: true
            - name: mongodb-data
              mountPath: /data/db
      volumes:
        - name: mongodb-init
          configMap:
            name: mongodb-init
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: mongodb-data
