# Kubernetes
k8s/**/charts/

# SOPS
.decrypted~*

# playground
*.bak

# Talos
clusterconfig

# TerraForm/ToFu
.terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
# *.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
output*/
output.workaround

# Terragrunt
.terragrunt-cache

# Proxmox
*.qcow2
*.raw

# Misc
*.cert
*.key

# IDE
*.code-workspace