# ConfigMaps and feature flags
configs:
  params:
    # This ensures the server knows it is running behind a gateway
    # and should not handle TLS itself. This adds the --insecure flag
    # to the argocd-server command.
    server.insecure: "true"
  cm:
    # Enable Helm support in Kustomize builds
    kustomize.buildOptions: "--enable-helm"

# Argo CD server settings
server:
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

# ApplicationSet controller settings
applicationSet:
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

# Argo CD controller settings
controller:
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 2000m
      memory: 2Gi
      
# Argo CD repo-server settings
repoServer:
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 2000m
      memory: 2Gi

# Dex is disabled; external authentication (e.g. SSO) is used
dex:
  enabled: false

# Notifications maybe later
notifications:
  enabled: false
