apiVersion: builtin
kind: HelmChartInflationGenerator
metadata:
  name: checkmk
name: checkmk
namespace: checkmk-agent
repo: https://checkmk.github.io/checkmk_kube_agent
releaseName: checkmk-kube-agent
version: 1.8.0    # renovate: github-releases=checkmk/checkmk_kube_agent
## do not use valuesFile as it's not inherited in overlays
# valuesFile: values.yaml
## only inline values are inherited in overlays
valuesInline:
  clusterCollector:
    resources:
      limits:
        cpu: 100m
        memory: 100Mi
      requests:
        cpu: 30m
        memory: 70Mi

  nodeCollector:
    # collect metrics also on control plane nodes
    tolerations:
      - operator: "Exists"
        effect: "NoSchedule"

    cadvisor:
      resources:
        requests:
          cpu: 15m
          memory: 40Mi

    containerMetricsCollector:
      resources:
        requests:
          cpu: 15m
          memory: 40Mi

    machineSectionsCollector:
      resources:
        requests:
          cpu: 30m
          memory: 25Mi