---

environments:
  head:
  qa:
  dev:
  src:
  poc:
  rebuild:
  prod:
  dbg:

---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

bases:
  - default.yaml

defaultInherit: default

helmDefaults:
  cleanupOnFail: true
  kubeContext: {{ printf "admin@%s-homelab" .Environment.Name }}
  wait: true
  waitForJobs: true

releases:
  # - name: flux-operator
  #   namespace: flux-system
  #   values:
  #     - ../../infra/flux-system/flux-operator/base/values.yaml

  - name: flux-instance
    namespace: flux-system
    wait: false
    values:
      - ../../infra/flux-system/flux-instance/base/values.yaml
      - ../../infra/flux-system/flux-instance/envs/{{ .Environment.Name }}/env-values.yaml 
    # needs:
    #   - flux-system/flux-operator