{{/* 
  This template extracts helm chart values from a helmrelease.yaml .spec.values
  stanza and makes them available to the helmfile release as a values file.
  There's some safeguarding for the case that
  - the helmrelease.yaml file does not exist (which is normal in most
    environments/overlays), and when
  - there's no .spec.values stanza in the helmrelease.yaml file (which might
    occur if the overlay configures other aspects, e.g. the helm chart version only).
  This template deviates from the base template only for the filename due to the different location
*/}}
{{- $envFile := printf "../../../infra/%s/%s/envs/%s/helmrelease.yaml" .Release.Namespace .Release.Name .Environment.Name -}}

{{- if isFile $envFile -}}
{{ dig "spec" "values" (dict) (fromYaml (readFile $envFile)) | toYaml }}
{{- end -}}
