apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: infra
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/isejalabs/homelab.git
        revision: HEAD
        directories:
          - path: k8s/infra/*/*/envs/rebuild